*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.6rem;
    background-color: #e5e5e5;
    color: #0E0D0D;
}

a {
    color: #0E0D0D;
    text-decoration: none;
}